* {
    font-family: sans-serif; /* Change your font family */
  }

  .img-box {
    display: flex;
    align-items:center;
    justify-content: center;
 }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  
body { overflow: hidden;}

#submit1 {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;
  border-color: #0ace6c;
  color: rgb(7, 194, 201);
}
 #submit1:hover {
  background: #0b9ca7;
  color: white;
}