body { overflow: hidden;}

h2 {align-items: center;}
* {
font-family: sans-serif; /* Change your font family */
}

.content-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
min-width: 400px;
border-radius: 5px 5px 0 0;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
font-weight: bold;
}

.content-table th,
.content-table td {
padding: 12px 15px;
}

.content-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
font-weight: bold;
color: #009879;
}



/* ======================================== */
#ss{visibility:hidden;}
 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  #file_style1{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style1.clear {
  clear: both;
}

  #file_style2{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style2.clear {
  clear: both;
  }
  #file_style3{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style3.clear {
  clear: both;
}

  #file_style4{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style4.clear {
  clear: both;
  }


  #file_style5{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style5.clear {
  clear: both;
}

  #file_style6{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style6.clear {
  clear: both;
  }

.btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #0ace6c;
  width: 200px;
  height: 50px;
  /* position: absolute; */
  /* right: 10px; */
  /* color: white; */
}
.btn:hover {
  background: #64a096;
  color: white;
}
.btn1 {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 6px 26px;
  font-size: 14px;
  cursor: pointer;
  border-color: #0ace6c;
  position: absolute;
  left: 2%;
}
.btn1:hover {
  background: #64a096;
  color: white;
}


.download {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
  margin-left: 16px;
}
.download:hover {
  background-color: green;
}
.leftarrow{
 left:-16%;
}


/* ================================================= */
/* CSS FOR SLIDE SHOW */
/* ================================================= */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
  display: flex;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgb(167, 240, 167);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgb(167, 240, 167);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ================================================= */

#h2style{ 
    float:center;
    color: blue;
}
.nav-container{
    position: relative;
    width: 100%;
    max-width: 980px;
}


/* ================================================= */


.multiselect {
width: 250px;
}
.selectBox {
position: relative;
}
.selectBox select {
width: 100%;
font-weight: bold;
}
.overSelect {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
#checkboxes {
display: none;
border: 1px #dadada solid;
}
#checkboxes label {
display: block;
}
#checkboxes label:hover {
background-color: #0ace6c;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* ================================================= */


ul {
list-style-type: none;
margin: 0;
width:40%;
padding: 0;
overflow: hidden;
background-color: #009879;
}

li {
float: left;
border-left: 1px solid white;
}

li a {
display: block;
color: white;
text-align: center;
padding: 16px 82.8px;
text-decoration: none;
}

li a:hover {
background-color:rgb(128, 230, 128);
}


/* ================================================= */


.modal-img {
max-height: 1080px;
}

.img-box {
    display: flex;
    align-items:center;
    justify-content: center;
    vertical-align: middle;
}
.nav-arrow {
font-size: 3em;
position: relative;
    top: 120px;  
}
.nav-left {   
left: 10px; 
}
.nav-right { 
    right: 10px;   
}