<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loss Run</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/image/favicon.png" />
  <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
  <link rel="stylesheet" href="/static/css/browseFile.css">
  <script src="/static/js/browseFile.js"></script>
</head>

<body>
  <div class="row img-box">
    <img src='/static/image/logo.png',alt='Bi2i_Logo' /></img>
  </div>
  <div class="row img-box">
    <h3>Loss Run File Upload</h3>
  </div>

  <div class="row img-box">
    <table class="content-table">
      <tr>
        <th>Please upload pdf file for loss run analysis</th>
      </tr>
      <tr>
        <td>
          <form method="POST" enctype="multipart/form-data" action="/last_Story1">
            <dl>
              <p>
                <input type="file" name="files[]" id="file1" multiple="true" autocomplete="off">
                <input type="submit" name="submit" value="Submit" id="submit1">
              </p>
            </dl>
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div class="row img-box">
    <img src='/static/image/footer.png' , alt='Bi2i_footer' /></img>

  </div>
  <!-- {{ table|safe }} -->

</body>

</html>