<!DOCTYPE html>
<html>
<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body
{
    margin: 0;
    padding: 0;
    background-color:skyblue ;
    font-family: 'Arial';
}
h1{
    text-align: center;
    color: #277582;
    padding: 20px;
}

 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    }
  #file_style{
  padding-left: 40px;
  }
  .boxed {
  border: 1px solid blue ;
  background-color: lightgrey;
  width: 40px;
  padding: 10px;
  margin: 0 auto;
}

.btn {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  border-radius: 17px;
}
.btn:hover {
  background-color: lightgrey;
}

.download {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
}
.download:hover {
  background-color: lightgrey;
}

</style>
</head>

<body>

 <a href="{{ url_for('last1') }}" ><input id="next" type="submit" value="Next >>" style="background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
  position: absolute;
  right: 5px;"/></a>

<p><h5>Click the download option to download the file
    <a href="{{url_for('download_file')}}"><button class="download"><i class="fas fa-file-download"></i>Download</button></a>
    </h5>
</p>

<h1>Claim Record Info <a href="{{ url_for('claim') }}" ><button class="btn"><i class="fa fa-home"></i> Home</button></a></h1>

<h2 class="w3-center">Manual Slideshow</h2>

<div class="w3-content w3-display-container">
{% for pic in pics %}
    <img class="mySlides" src="/static/damage1/{{pic}}" alt="images"  width="800" height="1000" border="2px solid w"/> 
    {% endfor %}

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

<div id="file_style">File Preview:{{ file | safe }}</div>
<br><br>

</body>
</html>
