<!-- 
<!DOCTYPE html>
<html>
<head>
<title>Loss Run</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
    $(window).load(function() {
      document.getElementById("demo").innerHTML = "<h2 style='color: black;'>Input PDF file contains {{count}} pages for analysis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>";
      document.getElementById("next").click();
    });
</script>

<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.leftarrow{
 left:-16%;
 color: greenyellow;
}
 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: green;
    }
  #file_style{
  padding-left: 500px;
  }

.btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #2196F3;
  position: absolute;
  right: 10px;
  color: dodgerblue;
}
.btn:hover {
  background: #2196F3;
  color: white;
}

.download {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
}
.download:hover {
  background-color: green;
}
</style>

<style>
.mySlides {display:none; width: 1000px;}
html{
overflow-x: auto;
}

</style>

</head>
<body>
<img src='static/logo.png', style="float:left;padding-right: 200px;padding-left: 60px;", alt='Car_1'/></img>
<br><br><br><br><br><br><br><br>
<a href="{{ url_for('claim') }}" ><button class="btn"><i class="fa fa-home"></i> Home</button></a>
<p id="demo" style="text-align:center;"></p>
<h3 style="padding-left: 400px;">File Preview : </h3>

<style>
 .modal-img {
  max-height: 1080px;
}

.img-box {
   display: flex;
   align-items:center;
   justify-content: center;
}
.nav-arrow {
  font-size: 3em;
  position: relative;
   top: 120px;  
}
.nav-left {   
  left: 10px; 
}
.nav-right { 
    right: 10px;   
}
</style>

<div class="row img-box">
  <div class="col-4">
      <button onclick="plusDivs(-1)">&#10094;</button>
  </div>
  <div class="col-9">
      <h1>Modal comes here</h1>
      {% for pic in pics %}
        <img style="border: 2px solid gray;" class="mySlides" src="/static/damage1/{{pic}}" alt="images"  width="1200" height="800" />
      {% endfor %}
  </div>
  <div class="col-14">
    <button onclick="plusDivs(1)">&#10095;</button>
  </div>
</div> 

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
<a href="{{ url_for('last1') }}" ><input id="next" type="submit" value="Next" style="background-color: white;
  border: none;
  color: green;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
  position: absolute;
  right: 5px;"/></a>
<img src='static/footer.png', style="float:left;padding-right: 200px;padding-left: 40px;", alt='Car_1'/></img>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
<title>Loss Run</title>
<style>
  .spinner {
          display: inline-block;
          opacity: 0;
          max-width: 0;
    
          -webkit-transition: opacity 0.25s, max-width 0.45s; 
          -moz-transition: opacity 0.25s, max-width 0.45s;
          -o-transition: opacity 0.25s, max-width 0.45s;
          transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
        }
    
        .has-spinner.active {
          cursor:progress;
        }
    
        .has-spinner.active .spinner {
          opacity: 1;
          max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
        }
</style>
</head>
<body>
  <div class="formbuttons">
    <button type="button" id="submitbutton" class="btn buttoncolor has-spinner">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>Select</button>
    <button type="button" class="btn buttoncolor" onclick="clearFilter();">Clear</button>
</div>
</body>
</html>
