<!DOCTYPE html>
<html>

<head>
  <title>Loss Run</title>

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="/static/css/result.css">
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


  <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
  <script src='/static/js/result.js'></script>

  <link rel="shortcut icon" type="image/x-icon" href="/static/image/favicon.png" />
</head>
<body>
  <div class="row img-box">
    <img src='/static/image/logo.png' alt='Bi2i_Logo' /></img>
    <table>
      <tr>
        <td>
          <a href="{{ url_for('browseFile')}}"><button class="btn">Home</button></a>
        </td>
        <td>
          <a href="#view_pdf" onclick="return show('view_pdf','feature_selection');">
            <button class="btn">Show PDF</button>
          </a>
        </td>
        <td>
          <a href="#feature_selection" onclick="return show('feature_selection','view_pdf');">
            <button class="btn">Feature Extraction</button>
          </a>
        </td>
      </tr>
    </table>
  </div>

  <div class="row img-box">
    <div align="center">
      <h2 style='color: black;'>Input PDF file contains {{count}} pages for analysis</h2>
    </div>
  </div>
  

  

  <div id="view_pdf">
    <div class="row img-box">
      <h3><b>File Preview</b></h3>
    </div>

    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->      
      <div style="width: 5%;"><a class="prev" onclick="plusSlides(-1)">&#10094;</a></div>
      <!-- <div style="width: 5%;"></div> -->
      <div style="width: 90%">
        {% for pic in pics %}
        <div class="mySlides">
          <!-- <div class="numbertext">1 / {{count}}</div> -->
          <img src="/static/image/damage1/{{pic}}" alt="images" style="width: 800px; height: 600px;"/>
          <div class="text">{{pic}}</div>
        </div>
        {% endfor %}
      </div>
      <!-- <div style="width: 5%;"></div> -->
      <!-- Next and previous buttons -->
      <div style="width: 5%;"><a class="next" onclick="plusSlides(1)">&#10095;</a></div>
      
    </div>
    <br>
  </div>

  <div id="feature_selection" style="display:none">
    <div class="row img-box">
      <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()">
          <select>
            <option>Select Features</option>
          </select>
          <!-- <div class="overSelect"></div> -->
        </div>
        <!-- 'CarrierName','CarrierClaimNumber','LineOfBusiness','LossDate','NoticeDate','ClosedDate','ClaimStatus','TotalGrossIncurred' -->
        <div id="checkboxes">
          <label for="one">
            <input type="checkbox" id="CarrierName" checked />
            CarrierName
          </label>
          <label for="two">
            <input type="checkbox" id="CarrierClaimNumber" checked />
            CarrierClaimNumber
          </label>
          <label for="three">
            <input type="checkbox" id="LineOfBusiness" checked />
            LineOfBusiness
          </label>
          <label for="four">
            <input type="checkbox" id="LossDate" checked />
            LossDate
          </label>
          <label for="five">
            <input type="checkbox" id="NoticeDate" checked />
            NoticeDate
          </label>
          <label for="six">
            <input type="checkbox" id="ClosedDate" checked />
            ClosedDate
          </label>
          <label for="seven">
            <input type="checkbox" id="ClaimStatus" checked />
            ClaimStatus
          </label>
          <label for="eight">
            <input type="checkbox" id="TotalGrossIncurred" checked />
            TotalGrossIncurred
          </label>
        </div>
      </div>


      &nbsp;&nbsp;&nbsp;&nbsp;
      <input style="padding: 2px 28px;" class="btn" type="submit" value="Extract" onclick="my()" id="submit" />
    </div>

    <div class="row img-box">
      <h3 id="ss">Extracted claim-wise features : </h3>
    </div>
    <div class="row img-box">
      <div id="file_style1" class="clear">{{ table1|safe }}</div>
      <div id="file_style2" class="clear">{{ table2|safe }}</div>
      <div id="file_style3" class="clear">{{ table3|safe }}</div>
      <div id="file_style4" class="clear">{{ table4|safe }}</div>
      <div id="file_style5" class="clear">{{ table5|safe }}</div>
      <div id="file_style6" class="clear">{{ table6|safe }}</div>
      <!-- <div id="file_style2" class="clear">{{ table2 | safe }}</div>
      <div id="file_style3" class="clear">{{ table3 | safe }}</div>
      <div id="file_style4" class="clear">{{ table4 | safe }}</div>
      <div id="file_style5" class="clear">{{ table5 | safe }}</div>
      <div id="file_style6" class="clear">{{ table6 | safe }}</div> -->
    </div>
  </div>

  <br><br>

  <div class="row img-box"><img src='/static/image/footer.png' , alt='Bi2i_footer' /></img></div>








  <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(j) {
      showSlides(slideIndex += j);
    }
    
    function currentSlide(j) {
      showSlides(slideIndex = j);
    }
    
    function showSlides(j) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (j > slides.length) {slideIndex = 1}    
      if (j < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      // dots[slideIndex-1].className += " active";
    }
    </script>
</body>

</html>