
<!DOCTYPE html>
<html>
<head>
<title>Loss Run</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
    $(window).load(function() {
      document.getElementById("demo").innerHTML = "<h2 style='color: black;'>Input PDF file contains {{count}} pages for analysis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>";
      document.getElementById("next").click();
    });
</script>
<style>
.mySlides {display:none;}
html{
overflow-x: auto;
}
</style>
<style>
#h2style{ 
float:center;
color: blue;
}
</style>
</head>
<body>
<img src='static/logo.png', style="float:left;padding-right: 200px;padding-left: 60px;", alt='Car_1'/></img>
<br><br><br><br><br><br><br><br>
<a href="{{ url_for('claim') }}" ><button class="btn"><i class="fa fa-home"></i> Home</button></a>
<p id="demo" style="text-align:center;"></p>
<h3 style="padding-left: 400px;">File Preview : </h3>

<div class="w3-content w3-display-container">
{% for pic in pics %}
    <img class="mySlides" src="/static/damage1/{{pic}}" alt="images"  width="800" height="800" border="2px solid w"/> 
    {% endfor %}

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    }
  #file_style{
  padding-left: 400px;
  }

.btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #2196F3;
  position: absolute;
  right: 10px;
  color: dodgerblue;
}
.btn:hover {
  background: #2196F3;
  color: white;
}

.download {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
  margin-left: 16px;
}
.download:hover {
  background-color: green;
}


</style>
<body>

</p>
<h3 style="padding-left: 400px;">Extracted claim-wise features : </h3>
<div id="file_style">{{ file | safe }}</div>
<br><br>

</body>
</html>
<img src='static/footer.png', style="float:left;padding-right: 200px;padding-left: 40px;", alt='Car_1'/></img>
</body>
</html>
