
<!DOCTYPE html>
<html>
<head>
<title>Loss Run</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    }

  #file_style{
  padding-left: 400px;
  visibility: hidden;
  }

  #file_style1{
  padding-left: 400px;
  visibility: hidden;
  }


.btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #2196F3;
  position: absolute;
  right: 10px;
  color: dodgerblue;
}
.btn:hover {
  background: #2196F3;
  color: white;
}
.download {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
  margin-left: 16px;
}
.download:hover {
  background-color: green;
}
</style>

<style>
.mySlides {display:none;}
html{
overflow-x: auto;
}
</style>

<style>
#h2style{ 
float:center;
color: blue;
}
</style>

<script>
var expanded = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
</script>

<script>
function my() {
  var checkboxes = document.getElementById("checkboxes");
  var file_visible = document.getElementById("file_style");  

  if ((document.getElementById('one').checked) == true && (document.getElementById('two').checked) == false ) {
  alert("1");
  file_visible.style.visibility = 'hidden';
  }
    if ((document.getElementById('one').checked) == true && (document.getElementById('two').checked) == true ) {
  alert("2");
  file_visible.style.visibility = 'visible';
}
}
</script>

<style>
.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}
</style>

</head>
<body>
<img src='static/logo.png', style="float:left;padding-right: 200px;padding-left: 60px;", alt='Car_1'/></img>
<br><br><br><br><br><br><br><br>
<a href="{{ url_for('claim') }}" ><button class="btn"><i class="fa fa-home"></i> Home</button></a>

  <div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
      <select>
        <option>Select an option</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div id="checkboxes">
      <label for="one">
        <input type="checkbox" id="one" />First checkbox</label>
      <label for="two">
        <input type="checkbox" id="two" />Second checkbox</label>
      <label for="three">
        <input type="checkbox" id="three" />Third checkbox</label>
    </div>
<input type="submit" value="submit" onclick="my()" id="submit"/>
  </div>

<p id="demo" style="text-align:center;"></p>
<h3 style="padding-left: 400px;">File Preview : </h3>

<div class="w3-content w3-display-container">
{% for pic in pics %}
    <img class="mySlides" src="/static/damage1/{{pic}}" alt="images"  width="800" height="800" border="2px solid w"/> 
    {% endfor %}

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</p>
<h3 style="padding-left: 400px;">Extracted claim-wise features : </h3>
<div id="file_style">{{ file | safe }}</div>
<br><br>

  <div id="container_right"></div>

<img src='static/footer.png', style="float:left;padding-right: 200px;padding-left: 40px;", alt='Car_1'/></img>
</body>
</html>
