
<!DOCTYPE html>
<html>
<head>
<title>Loss Run</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
    $(window).load(function() {
      document.getElementById("demo").innerHTML = "<h2 style='color: black;'>Input PDF file contains {{count}} pages for analysis</h2>";
    });
</script>

<style>

  body { overflow: hidden;}

  h2 {align-items: center;}
  * {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  </style>

<style>
#ss{visibility:hidden;}
 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  #file_style1{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style1.clear {
  clear: both;
}

  #file_style2{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style2.clear {
  clear: both;
  }
  #file_style3{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style3.clear {
  clear: both;
}

  #file_style4{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style4.clear {
  clear: both;
  }


  #file_style5{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style5.clear {
  clear: both;
}

  #file_style6{
  /* padding-left: 400px; */
  display:none;
  }

  #file_style6.clear {
  clear: both;
  }

.btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #0ace6c;
  /* position: absolute; */
  /* right: 10px; */
  /* color: white; */
}
.btn:hover {
  background: #64a096;
  color: white;
}
.btn1 {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 6px 26px;
  font-size: 14px;
  cursor: pointer;
  border-color: #0ace6c;
  position: absolute;
  left: 2%;
}
.btn1:hover {
  background: #64a096;
  color: white;
}
.download {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
  margin-left: 16px;
}
.download:hover {
  background-color: green;
}
.leftarrow{
 left:-16%;
}
</style>

<style>
.mySlides {display:none;width: 1000px;}
html{
overflow-x: auto;
}
</style>

<style>
#h2style{ 
float:center;
color: blue;
}

.nav-container{position: relative;
 width: 100%;
 max-width: 980px;}

</style>

<script>
var expanded = false;
function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  }else{ 
    checkboxes.style.display = "none";
    expanded = false;
 }
}
</script>

<script>
function my() {
  var checkboxes = document.getElementById("checkboxes");
  checkboxes.style.display = "none";
  var ss = document.getElementById("ss");
  var file_visible1 = document.getElementById("file_style1");  
  var file_visible2 = document.getElementById("file_style2"); 
  var file_visible3 = document.getElementById("file_style3");  
  var file_visible4 = document.getElementById("file_style4"); 
  var file_visible5 = document.getElementById("file_style5");  
  var file_visible6 = document.getElementById("file_style6"); 

  ss.style.visibility = "visible";
// 'CarrierName','CarrierClaimNumber','LineOfBusiness','LossDate','NoticeDate','ClosedDate','ClaimStatus','TotalGrossIncurred'

  if ((document.getElementById('LineOfBusiness').checked) == true && (document.getElementById('LossDate').checked) == false && (document.getElementById('NoticeDate').checked) == false && (document.getElementById('ClosedDate').checked) == false && (document.getElementById('ClaimStatus').checked) == false && (document.getElementById('TotalGrossIncurred').checked) == false) {
  file_visible1.style.display = "block";
  file_visible2.style.display = "none";
  file_visible3.style.display = "none";
  file_visible4.style.display = "none";
  file_visible5.style.display = "none";
  file_visible6.style.display = "none";
  }

  if ((document.getElementById('LineOfBusiness').checked) == true && (document.getElementById('LossDate').checked) == true && (document.getElementById('NoticeDate').checked) == false && (document.getElementById('ClosedDate').checked) == false && (document.getElementById('ClaimStatus').checked) == false && (document.getElementById('TotalGrossIncurred').checked) == false) {
  file_visible1.style.display = "none";
  file_visible2.style.display = "block";
  file_visible3.style.display = "none";
  file_visible4.style.display = "none";
  file_visible5.style.display = "none";
  file_visible6.style.display = "none";
  }

    if ((document.getElementById('LineOfBusiness').checked) == true && (document.getElementById('LossDate').checked) == true && (document.getElementById('NoticeDate').checked) == true && (document.getElementById('ClosedDate').checked) == false && (document.getElementById('ClaimStatus').checked) == false && (document.getElementById('TotalGrossIncurred').checked) == false) {
  file_visible1.style.display = "none";
  file_visible2.style.display = "none";
  file_visible3.style.display = "block";
  file_visible4.style.display = "none";
  file_visible5.style.display = "none";
  file_visible6.style.display = "none";  
  }

    if ((document.getElementById('LineOfBusiness').checked) == true && (document.getElementById('LossDate').checked) == true && (document.getElementById('NoticeDate').checked) == true && (document.getElementById('ClosedDate').checked) == true && (document.getElementById('ClaimStatus').checked) == false && (document.getElementById('TotalGrossIncurred').checked) == false) {
  file_visible1.style.display = "none";
  file_visible2.style.display = "none";
  file_visible3.style.display = "none";
  file_visible4.style.display = "block";
  file_visible5.style.display = "none";
  file_visible6.style.display = "none";  
  }
    
   if ((document.getElementById('LineOfBusiness').checked) == true && (document.getElementById('LossDate').checked) == true && (document.getElementById('NoticeDate').checked) == true && (document.getElementById('ClosedDate').checked) == true && (document.getElementById('ClaimStatus').checked) == true && (document.getElementById('TotalGrossIncurred').checked) == false) {
  file_visible1.style.display = "none";
  file_visible2.style.display = "none";
  file_visible3.style.display = "none";
  file_visible4.style.display = "none";
  file_visible5.style.display = "block";
  file_visible6.style.display = "none";  
  }

   if ((document.getElementById('LineOfBusiness').checked) == true && (document.getElementById('LossDate').checked) == true && (document.getElementById('NoticeDate').checked) == true && (document.getElementById('ClosedDate').checked) == true && (document.getElementById('ClaimStatus').checked) == true && (document.getElementById('TotalGrossIncurred').checked) == true) {
  file_visible1.style.display = "none";
  file_visible2.style.display = "none";
  file_visible3.style.display = "none";
  file_visible4.style.display = "none";
  file_visible5.style.display = "none";
  file_visible6.style.display = "block";  
  }
}
</script>

<style>
.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
</style>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    width:40%;
    padding: 0;
    overflow: hidden;
    background-color: #009879;
  }
  
  li {
    float: left;
    border-left: 1px solid white;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 82.8px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:rgb(128, 230, 128);
  }
  </style>

</head>
<body>
  
<style>
  .modal-img {
   max-height: 1080px;
 }
 
 .img-box {
    display: flex;
    align-items:center;
    justify-content: center;
 }
 .nav-arrow {
   font-size: 3em;
   position: relative;
    top: 120px;  
 }
 .nav-left {   
   left: 10px; 
 }
 .nav-right { 
     right: 10px;   
 }
 </style>

 <div class="row img-box">
   <img src='static/image/logo.png',alt='Car_1'/></img>
  </div>
  <div class="row img-box">
   <a href="{{ url_for('browseFile')}}" ><button class="btn"><i class="fa fa-home"></i> Home</button></a>
  </div>
  <br><br>
  <div class="row img-box">
    <ul>
      <li><a class="active" href="#view_pdf" onclick="return show('view_pdf','feature_selection');"><b>Show PDF</b></a></li>
      <li><a href="#feature_selection" onclick="return show('feature_selection','view_pdf');"><b>Feature Extraction</b></a></li>
    </ul>
  </div>
<div id="view_pdf">
<div class="row img-box"><p id="demo" style="text-align:center;"></p></div>

<div class="row img-box"><h3><b>File Preview</b></h3></div>

 <div class="row img-box">
   <div class="col-4">
       <button onclick="plusDivs(-1)">&#10094;</button>
   </div>
   <div class="col-9">
       <!-- <h1>Modal comes here</h1> -->
       {% for pic in pics %}
         <img style="border: 2px solid gray;" class="mySlides" src="/output/damage1/{{pic}}" alt="images"  width="1200" height="800" />
       {% endfor %}
   </div>
   <div class="col-14">
     <button onclick="plusDivs(1)">&#10095;</button>
   </div>
 </div> 
</div> 

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</p>



<div id="feature_selection" style="display:none">
  <div class="row img-box">
  <div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
      <select>
        <option>Select Features</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <!-- 'CarrierName','CarrierClaimNumber','LineOfBusiness','LossDate','NoticeDate','ClosedDate','ClaimStatus','TotalGrossIncurred' -->
    <div id="checkboxes">
      <label for="one">
        <input type="checkbox" id="CarrierName" checked/>CarrierName</label>
      <label for="two">
        <input type="checkbox" id="CarrierClaimNumber" checked/>CarrierClaimNumber</label>
      <label for="three">
        <input type="checkbox" id="LineOfBusiness" />LineOfBusiness</label>
      <label for="four">
        <input type="checkbox" id="LossDate" />LossDate</label>
      <label for="five">
        <input type="checkbox" id="NoticeDate" />NoticeDate</label>
      <label for="six">
        <input type="checkbox" id="ClosedDate" />ClosedDate</label>
      <label for="seven">
        <input type="checkbox" id="ClaimStatus" />ClaimStatus</label>
      <label for="eight">
        <input type="checkbox" id="TotalGrossIncurred" />TotalGrossIncurred</label>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <input style="padding: 2px 28px;" class="btn" type="submit" value="Extract" onclick="my()" id="submit"/>
</div>

<div class="row img-box">
<h3 id="ss">Extracted claim-wise features : </h3>
</div>
<div class="row img-box">
<div id="file_style1" class="clear">{{ table1|safe }}</div>
<div id="file_style2" class="clear">{{ table2|safe }}</div>
<div id="file_style3" class="clear">{{ table3|safe }}</div>
<div id="file_style4" class="clear">{{ table4|safe }}</div>
<div id="file_style5" class="clear">{{ table5|safe }}</div>
<div id="file_style6" class="clear">{{ table6|safe }}</div>
<!-- <div id="file_style2" class="clear">{{ table2 | safe }}</div>
<div id="file_style3" class="clear">{{ table3 | safe }}</div>
<div id="file_style4" class="clear">{{ table4 | safe }}</div>
<div id="file_style5" class="clear">{{ table5 | safe }}</div>
<div id="file_style6" class="clear">{{ table6 | safe }}</div> -->
</div>
</div>
<br><br>
<script>
  function show(shown, hidden) {
    document.getElementById(shown).style.display='block';
    document.getElementById(hidden).style.display='none';
    return false;
  }
  </script>

<div class="row img-box"><img src='static/image/footer.png', alt='Car_1'/></img></div>
</body>
</html>
