<html>

<head>
  <title>Login Page</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/image/favicon.png" />
  <link rel="stylesheet" href="/static/css/login.css">
  <script src="/static/js/login.js"></script>
</head>

<body>
  <div class="row img-box">
    <img src='/static/image/logo.png' ,alt='Bi2i_Logo' /></img>
  </div>
  <div class="login">
    <h1>Login to Web App</h1>
    <form method="POST">
      <p><input type="text" name="username" id="username" value="" placeholder="Username or Email"></p>
      <p><input type="password" name="password" id="password" value="" placeholder="Password"></p>
      <p class="remember_me">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me">
          Remember me on this computer
        </label>
      </p>
      <p class="submit"><input type="submit" name="commit" value="Login" id="submit"></p>
      <p style="align-content: center;">{{ notification }}</p>
    </form>
  </div>
  <div class="row img-box"><img src='/static/image/footer.png' , alt='Bi2i_footer' /></img></div>

</body>

</html>