
<!DOCTYPE html>
<html>
<head>
<title>Loss Run</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
html{
overflow-x: auto;
}
</style>
</head>
<body>
<h1>Preview Of PDF File</h1>
<h1><a href="{{ url_for('claim') }}" ><button class="btn"><i class="fa fa-home"></i> Home</button></a></h1>
<h2 class="w3-center">One Image One Page</h2>

<div class="w3-content w3-display-container">
{% for pic in pics %}
    <img class="mySlides" src="/static/damage1/{{pic}}" alt="images"  width="800" height="800" border="2px solid w"/> 
    {% endfor %}

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    }
  #file_style{
  padding-left: 500px;
  }

.btn {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  border-radius: 17px;
}
.btn:hover {
  background-color: lightgrey;
}

.download {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
}
.download:hover {
  background-color: lightgrey;
}


</style>
<body>
<img src='static/logo.png', style="float:left;width:200px;height:200px;padding-right: 2000px;padding-left: 60px;", alt='Car_1'/></img>
<p><a href="{{url_for('download_file')}}"><button class="download"><i class="fas fa-file-download"></i>Click here to download the file</button></a>
</p>
<div id="file_style">File Preview:{{ file | safe }}</div>
<br><br>

</body>
</html>

</body>
</html>
