<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
function myFunction() {
  document.getElementById("demo").innerHTML = "<h3><b>Summary of Classification: {{count}} Damaged {{n}} Non Damaged</b></h3>";
}


</script>
    <script>
          $(document).ready(function() { $('.thumbs').hide(); $('.main-image').on('click', function(){ $('.thumbs').show(); }); });

    </script>
<!--    <script type="text/javascript">-->
<!--{% for pic in pics %}-->
<!--       function picture(){-->
<!--       var pic = "/static/images/{{pic}}"-->



<!--       document.getElementById('bigpic').src = pic.replace('90x90', '225x225');-->
<!--       document.getElementById('bigpic').style.display='block';-->
<!--{% endfor %}-->


<!--   </script>-->
    <style>
    .img-wrap {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    font-size: 0;

    .body
    {
    margin: 0;
    padding: 0;
    background-color:skyblue ;
    font-family: 'Arial';
    }
    #next{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    margin-left: 900px;
    }
    .outer { width:600px; float:left; } .main-image , .main-image img { width:100%; float:left; overflow:hidden; } .thumbs { width:100%; float:left; margin-top:15px; } .thumbs img { display:inline-block; width:100px; margin-right:5px; }
#button1 , #button2 {
display:inline-block;

}


    </style>
</head>
<body style="background-color:skyblue; font-family: 'Arial';" >
<div class="outer"> <div class="main-image">






<button id="button1" onclick="myFunction()" style="background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
  " >Details</button>

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp;

<!--<a href="{{ url_for('logout') }}" ><button id="button2"  style="width: 300px;-->
<!--    height: 30px;-->
<!--    border: none;-->
<!--    border-radius: 17px;-->
<!--    padding-left: 7px;-->
<!--    color: blue;" >Logout</button></a>-->

<!--    <a href="{{ url_for('logout') }}" ><input type="submit" value="logout" style="width: 300px;-->
<!--    height: 30px;-->
<!--    border: none;-->
<!--    border-radius: 17px;-->
<!--    padding-left: 7px;-->
<!--    color: blue;-->
<!--    margin-left: 900px;-->
<!--    "/></a>-->



    <p id="demo" style="text-align:center;"></p>

</div>

    <div class="thumbs img-wrap">

        {% for pic in pics %}
    <img src="/static/damage2/{{pic}}" alt="about"  width="200" height="200"/>
    {% endfor %}

        <br><br>


        <a href="{{ url_for('last2') }}" ><input id="next" type="submit" value="Next >>" style="background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
  position: absolute;
  right: 5px;"/></a>

    </div>
</div>
<!--{% for pic in pics %}-->
<!--<div class="img-wrap" >-->
<!--    <img id="bigpic" src='/static/images/{{pic}}'  width="200" height="200" style="display:none;"/>-->
<!--</div>-->
<!--{% endfor %}-->
<!-- <button onclick="picture()">Enlarge</button>-->
<br><br>



</body>
</html>