<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 60px;
}
th, td {
  padding: 10px;
  text-align: left;    
}

#slct{
float:left;
}
.left_box {
  background-color: #23463f;
  height: 500px;
  width: 500px;
  display: block;
  float:left;
  margin-top:100px;
  margin-left:250px;
}
#right_box {
  height: 500px;
  width: 500px;
  display: block;
  float:right;
  margin-top:90px;
  margin-right:250px;
}
#right {
  background-color: #ffff;
  height: 500px;
  width: 500px;
  margin-top:6px;
  display: block;
  float:right;
}

h1{
    text-align: center;
    color: #08ffd1;
    padding: 20px;
}

#slct{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color:  #23463f;
    margin-left: 50px;
}
        body
{
    margin: 0;
    padding: 0;
    background-color:skyblue ;
    font-family: 'Arial';
}
#car{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}
#carmodel{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}
#click{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}
.next {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
  position: absolute;
  right: 5px;
  }
.next:hover {
  background-color: lightgrey;
}
</style>
<body>
<select id="car" onchange="ChangeCarList()">
  <option value="">-- Metrics --</option>
  <option value="V">View</option>
</select>

<select id="carmodel"></select>

<button id="click" onclick="myFunction()">Click me</button>

 <div class="left_box">
  <div id="container_left"></div>
 </div>
 <div id="right_box">
  <div id="container_right"></div>
 </div>
<a href="{{ url_for('download_home3') }}" ><button class="next">Next >></button></a>
<script>
var carsAndModels = {};
carsAndModels['V'] = ['Front Right', 'Front Left', 'Back Right', 'Back Left'];

function ChangeCarList() {
  var carList = document.getElementById("car");
  var modelList = document.getElementById("carmodel");
  var selCar = carList.options[carList.selectedIndex].value;
  while (modelList.options.length) {
    modelList.remove(0);
  }
  var cars = carsAndModels[selCar];
  if (cars) {
    var i;
    for (i = 0; i < cars.length; i++) {
      var car = new Option(cars[i], i);
      modelList.options.add(car);
    }
  }
}

</script>

<script>


function myFunction() {
  var carList = document.getElementById("car");
  var modelList = document.getElementById("carmodel");
  var selCar = carList.options[carList.selectedIndex].value;
  var modelCar = modelList.options[modelList.selectedIndex].value;
  
  let ent_select=document.getElementById("container_right");
  let ent_select1=document.getElementById("container_left");
  let optionHTML= '';
  let optionHTML1= '';

  var divv_left = document.getElementById("container_left");
  var divv_right = document.getElementById("container_right");
  
  if (selCar=="V"){
    if (modelCar==0){
           var i;
           //data = data.filter((e, i, a) => a.indexOf(e) === i);
           for(i=0; i< 1; i++){
		optionHTML1 +="<div><img src='static/story_4/download (5).png', height='500px', width='500px', alt='Car_1'/></div>";
		console.log(optionHTML1);
		ent_select1.innerHTML=optionHTML1;
           }

           for(i=0; i< 1; i++){
		optionHTML += '<div><table id= "right"><caption>Car Insurance Clam analysis details </caption><tr>'+'<th>Metric </th>'+'<th>Values</td>'+'</tr>'+'<tr>'+'<th>Market Cost</th>'+'<td>$ 4195</td>'+'</tr>'+'<tr>'+'<th>% Area Damage</th>'+'<td>09.00 %</td>'+'</tr>'+'<tr>'+'<th>Cause of Loss matching</th>'+'<td>True</td>'+'</tr>'+'<tr>'+'<th>Damage matching with parts data</th>'+'<td>True</td>'+'</tr>'+'<tr>'+'<th>Duplicate indicator</th>'+'<td>NO</td>'+'</tr>'+'<tr>'+'<th>Claim authenticity</th>'+'<td>92%</td>'+'</tr>'+'</table></div>';
		console.log(optionHTML);
		console.log(optionHTML);
		ent_select.innerHTML=optionHTML;
           }
     }
  }

  if (selCar=="V"){
    if (modelCar==1){
           var i;
           //data = data.filter((e, i, a) => a.indexOf(e) === i);
           for(i=0; i< 1; i++){
		optionHTML1 +="<div><img src='static/story_4/download (10).png', height='500px', width='500px', alt='Car_1'/></div>";
		console.log(optionHTML1);
		ent_select1.innerHTML=optionHTML1;
           }

           for(i=0; i< 1; i++){
		optionHTML += '<div><table id= "right"><caption>Car Insurance Clam analysis details </caption><tr>'+'<th>Metric </th>'+'<th>Values</td>'+'</tr>'+'<tr>'+'<th>Market Cost</th>'+'<td>$ 4195</td>'+'</tr>'+'<tr>'+'<th>% Area Damage</th>'+'<td>34.00 %</td>'+'</tr>'+'<tr>'+'<th>Cause of Loss matching</th>'+'<td>True</td>'+'</tr>'+'<tr>'+'<th>Damage matching with parts data</th>'+'<td>True</td>'+'</tr>'+'<tr>'+'<th>Duplicate indicator</th>'+'<td>NO</td>'+'</tr>'+'<tr>'+'<th>Claim authenticity</th>'+'<td>92%</td>'+'</tr>'+'</table></div>';
		console.log(optionHTML);
		ent_select.innerHTML=optionHTML;
           }
     }
  }

  if (selCar=="V"){
    if (modelCar==2){
        alert("!! No damage to this part for this vehicle !!");
     }
  }

  if (selCar=="V"){
    if (modelCar==3){
           var i;
           //data = data.filter((e, i, a) => a.indexOf(e) === i);
           for(i=0; i< 1; i++){
		optionHTML1 +="<div><img src='static/story_4/download (9).png', height='500px', width='500px', alt='Car_1'/></div>";
		console.log(optionHTML1);
		ent_select1.innerHTML=optionHTML1;
           }

           for(i=0; i< 1; i++){
		optionHTML += '<div><table id= "right"><caption>Car Insurance Clam analysis details </caption><tr>'+'<th>Metric </th>'+'<th>Values</td>'+'</tr>'+'<tr>'+'<th>Market Cost</th>'+'<td>$ 4195</td>'+'</tr>'+'<tr>'+'<th>% Area Damage</th>'+'<td>00.00 %</td>'+'</tr>'+'<tr>'+'<th>Cause of Loss matching</th>'+'<td>True</td>'+'</tr>'+'<tr>'+'<th>Damage matching with parts data</th>'+'<td>True</td>'+'</tr>'+'<tr>'+'<th>Duplicate indicator</th>'+'<td>NO</td>'+'</tr>'+'<tr>'+'<th>Claim authenticity</th>'+'<td>92%</td>'+'</tr>'+'</table></div>';
		console.log(optionHTML);
		console.log(optionHTML);
		ent_select.innerHTML=optionHTML;
           }
     }
  }

}

</script>



</body>
</html>
