<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
            body
{
    margin: 0;
    padding: 0;
    background-color:skyblue ;
    font-family: 'Arial';
}
h1{
    text-align: center;
    color: #277582;
    padding: 20px;
}
<!--h5{-->
<!--    text-align: center;-->
<!--    color: black;-->
<!--    padding: 20px;-->
<!--}-->
 #download{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    }
  #file_style{
  padding-left: 400px;
  }
  .boxed {
  border: 1px solid blue ;
  background-color: lightgrey;
  width: 700px;
  padding: 20px;
  margin: 0 auto;
}

.btn {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  border-radius: 17px;
}
.btn:hover {
  background-color: lightgrey;
}

.download {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
}
.download:hover {
  background-color: lightgrey;
}


</style>
<body>
<h1>Claim Record Info <a href="{{ url_for('claim') }}" ><button class="btn"><i class="fa fa-home"></i> Home</button></a></h1>


<p><h5>Click the download option to download the file
    <a href="{{url_for('download_file3')}}"><button class="download"><i class="fas fa-file-download"></i>Download</button></a>
    </h5>
</p>
<div id="file_style">File Preview:{{ file | safe }}</div>
<br><br>

<div class="boxed">
 <b>Recommendations:</b>  <br> Cleared for processing.
</div>

<!--<p>File uploaded successfully</p>-->
<!--<p>File Name: {{name}}</p>-->
</body>
</html>