<!doctype html>
<head>
<title>Python Flask Upload Multiple Images and Display them</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
	 $(document).on('click',".deletebutton" ,function() { $(this).parent().remove(); });

	 function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}


	</script>
	<br>
	<div style="text-align: right">
<a href="{{ url_for('logout') }}" ><button   style="background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
  position: absolute;
  right: 5px;" >Logout</button></a>
	</div>
<h2>Preview of the images uploaded</h2>


<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<!--<style>-->

<!--</style>-->
	</head>

<style>
.ex {
  background-color: #23463f;
  height: 300px;
  width: 1200px;
  overflow-y: scroll;
   margin-left: 50px;
}
        body
{
    margin: 0;
    padding: 0;
    background-color:skyblue ;
    font-family: 'Arial';
}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
#submit{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    margin-left: 50px;
    }
.next {
  background-color: white;
  border: none;
  color: blue;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 17px;
  position: absolute;
  right: 5px;
  }
.next:hover {
  background-color: lightgrey;
}

#file{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color:  #23463f;
    margin-left: 50px;
}

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;


}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}
.ScrollStyle
{
    max-height: 150px;
    overflow-y: scroll;
}


/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right:300px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}



</style>

<form method="post" action="/dashboard2" enctype="multipart/form-data">
<!--    <dl>-->
<!--		<p>-->
<!--			<input type="file" name="files[]" id="file" multiple="true" autocomplete="off" required>-->
<!--		</p>-->
<!--    </dl>-->
<!--    <p>-->
<!--		<input type="submit" value="Submit" id="submit">-->
<!--	</p>-->
</form>

<body>
<div class="ex">
{% if filenames %}
	{% for filename in filenames %}
		<div class="img-wrap" >
<!--			<span class="close">&times;</span>-->
			<button type="button" class="deletebutton" id="" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
			<img src="{{ url_for('display_image2', filename=filename) }} " width="200" height="200" onclick="myFunction(this);">
		</div>
<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:80%">
  <div id="imgtext"></div>
</div>
	{% endfor %}
{% endif %}
</div>
<br><br>
<a href="{{ url_for('next2') }}" ><button class="next">Next >></button></a>

</body>